
#forma_kontakti{
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 20px
    

}
#forma_kontakti label{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
}
.input-fields{
    margin-top: 10px;
    font-size: 20px;
    color:  #24252A;
    background-color: white;
    border-radius: 50px;
    padding: 20px;

}
.mesazhi{
    height: 200px;
    width: 50%;
    
}
#submit_contact{
    color: white;
    border: none;
    margin: 20px;
    border-radius: 50px;
    padding: 20px;
    background-color: #7C8C3C;
}